<!--
	This is an example of how to configure Unicorn to override the location on disk to store the serialized items.

	If used, this should be present on all environments where Unicorn is active (usually all but CD).
	
	NOTE: this config file contains several examples. It should not be activated without selecting the mode you wish to use 
	(and in some cases not activated at all if patching a config level path)
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="SitecorepublisherDataLocation" value="C:\github\convert-module-to-wdp\tempyml" />
    <unicorn>
      <configurations>
        <configuration name="Sitecorepublisher">
          <targetDataStore physicalRootPath="$(SitecorepublisherDataLocation)\Sitecorepublisher" />
          <predicate name="Sitecorepublisher" type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- <include name="Feature.News.Templates" database="master" path="/sitecore/templates/Feature/News" /> -->
            <include name="Sitecorepublisher-0" database="core" path="/sitecore/system/Aliases/Applications" />
            <include name="Sitecorepublisher-1" database="core" path="/sitecore/media library/Publishing" />
            <include name="Sitecorepublisher-2" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Left/Publish Site" />
            <include name="Sitecorepublisher-3" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Publish" />
            <include name="Sitecorepublisher-4" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Publish" />
            <include name="Sitecorepublisher-5" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Publish Restrictions" />
            <include name="Sitecorepublisher-6" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Publish" />
            <include name="Sitecorepublisher-7" database="core" path="/sitecore/content/Applications/Content Editor/Menues/Publish" />
            <include name="Sitecorepublisher-8" database="core" path="/sitecore/client/Applications/Publishing" />
            <include name="Sitecorepublisher-9" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/ContentEditing/Publishing" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>